---
layout: article
---
<section class="resume__section" aria-labelledby="status">
  <p id="status">Status: <strong>Not Seeking New Roles</strong> (as of Q3 2020)</p>
</section>
{% if resume %}
{% if resume.roles %}
<section class="resume__section" aria-labelledby="work-experience">
  <h2 class="resume__section-title" id="work-experience">Work Experience</h2>
  <dl class="resume__list">
  	{% for role in resume.roles %}
    <dt class="resume__role">{{ role.title }}</dt>
    <dd class="resume__role-details">
      <ul class="resume__role-details-list">
        <li class="resume__company">{{ role.company }}</li>
        <li class="resume__period"><time data-resume="period" datetime="{{ role.period.from.year }}">{{ role.period.from.year }}&ndash;{{ role.period.to.year }}</time></li>
        {% if role.accomplishments %}
        <li class="resume__accomplishments">
        	<ul class="resume__accomplishments-list">
        		{% for accomplishment in role.accomplishments %}
        		<li class="resume__accomplishment">{{ accomplishment }}</li>
        		{% endfor %}
        	</ul>
        </li>
        {% endif %}
      </ul>
    </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}
{% if resume.training %}
<section class="resume__section" aria-labelledby="education">
  <h2 class="resume__section-title" id="education">Education</h2>
  <dl class="resume__list">
  	{% for training in resume.training %}
    <dt class="resume__role">{{ training.title }}</dt>
    <dd class="resume__role-details">
      <ul class="resume__role-details-list">
        <li class="resume__company">{{ training.company }}</li>
        <li class="resume__period"><time data-resume="period" datetime="{{ training.period.from.year }}">{{ training.period.from.year }}&ndash;{{ training.period.to.year }}</time></li>
        {% if training.accomplishments %}
        <li class="resume__accomplishments">
        	<ul class="resume__accomplishments-list">
        		{% for accomplishment in training.accomplishments %}
        		<li class="resume__accomplishment">{{ accomplishment }}</li>
        		{% endfor %}
        	</ul>
        </li>
        {% endif %}
      </ul>
    </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}
{% endif %}
