<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}" data-env="{{ env.environment }}">
{% include meta/head %}
  <body
  	class="site{% if body_classes %} {{ body_classes }}{% endif %}"
  	{%- if title %} data-title="{{ title }}"{% endif -%}
  >
    {% include components/masthead %}
    <main>
      {{ content }}
    </main>
    {% include components/colophon %}
    {% include meta/scripts %}
  </body>
</html>
