<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
  <head>
    <title>{{ site.title }}</title>
  </head>
  <body class="site">
    <header class="masthead">
      {%- if slug == '.' %}
      <h1 class="masthead__title">{{ masthead.title }}</h1>
      {%- else %}
      <p class="masthead__title">{{ masthead.title }}</p>
      {%- endif %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="colophon">
      <p class="colophon__copyright">{{ colophon.copyright }}</p>
    </footer>
  </body>
</html>
