{%- if resume.experience %}
	<h2 class="resume__title">Work experience</h2>
	<ol class="resume__experience-list">
		{%- for item in resume.experience %}
			<li class="resume__experience-item">
				<span class="resume__experience-duration">
					{{ item.duration.from }}&thinsp;&ndash;&thinsp;{{ item.duration.to }}
				</span>
				<h3 class="resume__experience-position">
					<span class="resume__experience-role">{{ item.role }}</span>
					<span class="resume__experience-employer">{{ item.employer }}</span>
				</h3>
				{%- if item.description %}
				<p class="resume__experience-description">{{ item.description }}</p>
				{%- endif %}
				{%- if item.accomplishments %}
					<ul class="resume__experience-accomplishments">
						{%- for accomplishment in item.accomplishments %}
						<li>{{ accomplishment }}</li>
						{%- endfor %}
					</ul>
				{%- endif %}
		{%- endfor %}
	</ol>
{%- endif %}
